@import "tailwindcss";
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out forwards;
}
